/*	welcome-section:*/

*{
	padding:0;
	margin:0;
}
.sectionone{
	background:#87509c;
	width:100%;
	height:100%;
	padding:30px;
}

.navbarcssul li a{
	font-size:16px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:200;
	color:white;
}
li.nav-item{
	margin-right:15px;
	padding:0px 10px;
}
.navbarcssul li:hover{
	background-color: #643a79;
}
.navbarcssul li:active{
   border: 1px solid #643a79;
  background-color:#643a79;
  border-radius:5px;
}
.navlogo{
	margin-left:50px;
}
.mainheading{
	text-align:center;
	padding:100px;
}
.mainheading p{
	font-family: 'Titillium Web', sans-serif;
	font-size:42.16px;
	font-weight:700;
	color:#ffff;
	 color:#f7f3ea;
}
.mainheading button{
    background-color: #eb7d4b;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    border-bottom: 4px solid #c86a40;
    padding:8px 40px;
}
.sectiontwo{
	background:#17c2a4;
    width:100%;
    height:100%;
    padding:80px;
}
.sectiontwo-rowheading{
	text-align:center;
}
.sectiontwo-rowheading h5{
	font-size:35px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:600;
	color:white;
	letter-spacing:3px;

}
.sectiontwo-rowheading p{
	font-size:18px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:400;
	color:white;
	margin-top:30px;
}
.hr {
    background-color: #14a58c;
    width: 7%;
    height: 3px;
    position: absolute;
    right: 46%;
}
.page h5{
	font-size:24px;
	font-weight:700;
    font-family: 'Titillium Web', sans-serif;
    color:white;
}
.page p{
	font-size:16px;
	font-weight:300;
	font-family: 'Titillium Web', sans-serif;
	color:white;
}
.sectiontwo-bottom{
	margin-top:50px;
}
.page img .same{
	width:600px;
	height:300px;
}

/*beautiful progressbar & portfolio section:*/

.team-icon i{
        margin-left:7px;
        text-align:center;
        width:36px;
        height:36px;
        background-color:#bdd1df;
        border-radius:50%;
        padding-top:9px;
        color:#fff;
        font-size:18px;
}
.beautifullteam{
	background:#e7f1f8;
    width:100%;
    height:100%;
    padding:60px;
}
.beautifullteam-rowheading{
	text-align:center;
	padding:10px;
}
.beautifullteam-rowheading h5{
	font-size:41.29px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:700;
	color:black;
	letter-spacing:3px;

}

.beautifullteam-rowheading p{
	font-size:18.58px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:400;
	color:black;
	margin-top:30px;
}
.team {
    background-color: grey;
    width: 7%;
    height: 3px;
    position: absolute;
    right: 46%;
    color:#c8d9e5;
}

.beautifull-bottom{
	margin-top:10px;
}


.review h5{
	font-size:24px;
	font-weight:700;
    font-family: 'Titillium Web', sans-serif;
    color:black;
}
.review p{
	font-size:16px;
	font-weight:300;
	font-family: 'Titillium Web', sans-serif;
	color:black;
}
.review h6{
	font-size:16px;
	font-weight:300;
	font-family: 'Titillium Web', sans-serif;
	color:#30bae7;
}

.review img .same{
	width:600px;
	height:300px;
}


.progressbar{
	background:#ffffff;
    width:100%;
    height:100%;
    padding:60px;
}
.progressbar-rowheading{
	text-align:center;
	padding:10px;
}
.progressbar-rowheading h5{
	font-size:40px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:700;
	color:black;
	letter-spacing:2px;

}

.progressbar-rowheading p{
	font-size:18px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:400;
	color:black;
	margin-top:30px;
}
.skill {
    background-color: grey;
    width: 8%;
    height: 3px;
    position: absolute;
    right: 49%;
}



.portfolio{
	background:#ffdd99;
    width:100%;
    height:100%;
    padding:60px;
}
.portfolio-rowheading{
	text-align:center;
	padding:10px;
}
.portfolio-rowheading h5{
	font-size:40px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:700;
	color:black;
	letter-spacing:3px;

}

.portfolio-rowheading p{
	font-size:18px;
	font-family: 'Titillium Web', sans-serif;
	font-weight:400;
	color:black;
	margin-top:30px;
}
.our {
    background-color: grey;
    width: 10%;
    height: 3px;
    position: absolute;
    right: 44%;
}
.tv h6{
	font-size:18px;
	font-weight:400;
    font-family: 'Titillium Web', sans-serif;
    color:black;
}

.sectionone-bottom{
	margin-top:50px;
}
.tv img .same{
	width:600px;
	height:300px;
}

.portfolio-rowheading .btn{
    background-color: #ebc985;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    padding:5px 20px;
}
.portfolio-rowheading .btn:hover{
	background:white;
}

.portfolio_button{
	text-align: center;
	margin-left:45%;
	background-color: #17c2a4;
    color:white;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    padding:5px 20px;
    border:none;
    height:50px;
    border-bottom: 4px solid #14a58c;
}


/*client feedback section & form section*/

.client-section{
  background:#d74680;
  padding:50px;
}
.mr-3{ height:100px;
  width:100px;
    border-radius: 50%;
border:2px solid #fff;

}
.image{
  height:100px;
  width:100px;
  border-radius: 50%;
/*border:2px solid #fff;*/
background-color:#787878;
}

.client-comment{
  margin-left:20px;
}

.client-view{
  text-align: center;
  padding:20px;
}

.client-view h1{
  font-size:40px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:700;
  color:white;
  word-spacing: 6px;
}
.people {
    background-color:#b73c6d;
    width: 7%;
    height: 3px;
    position: absolute;
    right: 45%;
}
.client-view p{
  font-size:18px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:400;
  color:white;
}
.comment{
  font-size:21px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:300;
  color:white;
  font-style:italic;
}
.client-name{
font-size:24px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:700;
  color:white;
}
.client-title{
  font-size:18px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:400;
  color:#f4b592;
}

.feetback{
  background-color:#3c5499;
  padding:80px;
}

.client-feetback{
  text-align:center;
  padding:5px;
  margin-top:2px;
}
.client-feetback h1{
  font-size:40px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:700;
  color:white;
}

.client-feetback p{
  font-size:18px;
  font-family: 'Titillium Web', sans-serif;
  font-weight:400;
  color:white;
  padding:15px;
}
.line{
    background-color:#273a71 ;
    width: 7%;
    height: 3px;
    position: absolute;
    right: 45%;
  }


  .form-control{
    background-color:#273a71 !important;
    color:white !important;
    padding:22px !important;
  }
  input::placeholder{
    color:white !important;
  }

  .message{
    margin-top: 28px;
}
.message-textarea{
    width:100%;
    background-color: #273a71;
    border:none;
    color:white;
    padding:10px;
  }
  
  .message-textarea::placeholder{
    color:white;

  }  
  .send-message-btn{
    padding:10px 40px;
    margin-top:60px;
    background-color:#30bae7;
    color:white;
    border:none;
    border-radius:5px;
  }

  .footer-section{
    text-align:center;
    background-color:#344b8e;
    padding:10px;
  }

  .footer-section a{
    text-decoration: none;
    color:white;
    font-size:24px;
    font-weight:600;
    font-family: 'Titillium Web', sans-serif;
    padding:10px 20px;
  }
  .footer-section a:nth-child(2){
    color:#30bae7;
  }